*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(bg.jpg); 
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 60px 70px;
    text-align: center;
    background: transparent;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
}
.form-box h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
    color: white;
    position: relative;
}
.input-field{
    display: flex;
    align-items: center;
    margin: 15px 0;
    border-radius: 3px;
    background: white;
    /*to make smooth while user clicks on sign in */
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    padding: 18px 15px;
    border: 0;
    outline: 0;
    background: transparent;
}
.input-field i{
    margin-left: 15px;
    color: #888888;
}
form p{
    font-size: 15px;
    color: white;
    
}
form p i{
    
    color: white;
}
form p a{
    text-decoration: none;
    color: white;
}
form p a:hover{
    color: #888888;
}
.btn-field{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.btn-field button a{
    text-decoration: none;
    color: white;
}

.btn-field button{
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    height: 40px;
    flex-basis: 38%;
    cursor: pointer;
    outline: 0;
    transition:  1s;
    font-weight: bold;
}
.btn-field button:hover{
    background-color: #888888;
    color: black;
}
.input-group{
    height: 250px;
}
.btn-field button.disable{
    background-color: #888888;
    color: white;
}














